{% extends "student/navbar.html"%}
{% load static %}
{% block content %}

{% if payment %}

<h4>Payment Successful</h4>

{% else %}

<div class="container mt-5">
    <h2>Semester Fee</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Course</th>
                <th>Credit</th>
                <th>Fee</th>

            </tr>
        </thead>
        <tbody>
            {% for course, fee in lst %}

            <tr>
                <td>{{course.course}}</td>
                <td>{{course.course.course_credit}}</td>
                <td>{{ fee }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2"><strong>Total</strong></td>
                <td><strong>{{total}}</strong></td>
            </tr>
        </tbody>
    </table>
    <!-- <button class="btn btn-primary">Checkout</button> -->
    <form action="/ypay/" method="POST">
        {% csrf_token %}
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{pkey}}"
            data-amount="{{total}}" data-name="EasyEdu" data-description="Semester Fee"
            data-image="{% static 'login/images/icons/logo.svg' %}" data-locale="auto" data-currency="usd">
            </script>
    </form>
    <!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{pkey}}" data-amount="18500"
        data-name="EasyEdu" data-description="Semester Fee" data-image="{% static 'login/images/icons/logo.svg' %}"
        data-locale="auto" data-currency="usd">
        </script> -->
</div>
{% endif %}

{% endblock %}