{% extends "faculty/navbar.html" %}

{% block content %}

<h3>Latest</h3>

<div class="grid-container">
    {% for a in announcements %}
    <div class="grid-item">
        <h3>{{a.title}}</h3>
        <p>{{a.body}}</p>
        <p><span>{{a.date}}</span></p>

    </div>
    {% endfor %}

</div>

<style>
    .grid-container {
        display: grid;
        gap: 50px;
        grid-template-columns: auto auto auto;
        background-color: #ffffff;
        padding: 10px;
    }

    .grid-item {
        background-color: rgba(113, 255, 222, 0.8);
        border: 1px solid rgba(131, 209, 255, 0.8);
        padding: 20px;
        font-size: 20px;
        text-align: center;
    }

    .announce {
        padding: 20px;
    }

    .h3 {
        padding: 20px;
        text-align: center;
    }

    .grid-item span {
        color: #888;
        font-size: 0.7em;
    }

    /* You can add some hover effects if you want */
    .grid-item:hover {
        border-color: #ddd;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
</style>

{% endblock %}