{% extends 'extend_part/navbar.html'%}
{% load static %}

{% block navbar_element %}

<li class="active">
  <a href="/faculty-home"><span class="fa fa-home"></span>Home</a>
</li>
<li>
  <a href="/faculty-profile/"><span class="fa fa-user-circle-o"></span>Profile</a>
</li>
<li>
  <a href="#"><span class="fa fa-cogs"></span>Advising</a>
</li>
<li>
  <a href="/faculty-courses/"><span class="fa fa-file"></span>Courses</a>
</li>
<!-- <li>
  <a href="#"><span class="fa fa-archive"></span>Archived</a>
</li> -->
<li>
  <a href="/submit-grade-section/"><span class="fa fa-check-circle"></span>Submit Grade</a>
</li>
<li>
  <a href="{% url 'logout' %}"><span class="fa fa-sign-out"></span> Logout </a>
</li>

{% endblock navbar_element%}

{% block content %}

{% endblock %}