{% extends 'extend_part/navbar.html' %}
{% load static %}

{% block navbar_element %}
<li class="active">
  <a href="/home"><span class="fa fa-home"></span>Home</a>
</li>
<li>
  <a href="{% url 'orgProfile' %}"><span class="fa fa-user-circle-o"></span>Profile</a>
</li>
<li>
  <a href="{% url 'controlPanel' %}"><span class="fa fa-cogs"></span>Control Panel</a>
</li>
<li>
  <a href="{% url 'faculty' %}"><span class="fa fa-users"></span>Faculty</a>
</li>
<li>
  <a href="{% url 'student' %}"><span class="fa fa-graduation-cap"></span>Student</a>
</li>
<li>
  <a href="{% url 'logout' %}"><span class="fa fa-sign-out"></span> Logout </a>
</li>

{% endblock %}

{% block content %}

{% endblock %}